current user id : <%= current_user.id %> <hr>
<p>  <%= button_to "Add more Friends", new_friendship_path,method: :get %> </p>
<h2> friends </h2> 
 <% @friendship.each do |friend| %> <br>
 	<% if current_user.id == friend.requester_id  %>
		<% user = User.find_by(id: friend.friend_id) %> 
		<%= link_to user.full_name, user_path(user.id) %> 
		<%= button_to "delete friendship", friendship_path(friend.id),method: :delete %> <br>
	<% elsif current_user.id == friend.friend_id %>
		<% user = User.find_by(id: friend.friend_id) %> 
		<%= link_to user.full_name, user_path(user.id) %> 
		<%= button_to "delete friendship", friendship_path(friend.id),method: :delete %> <br>
	<% end %>
<% end %> <br> <hr>

<h2> sended requests </h2>
<% @request.each do |request| %> <br>
<% byebug %>
	<% user = User.find_by(id: request.friend_id) %> 
	<%= link_to user.full_name, user_path(user.id) %>
	<%= button_to "delete request", friendship_path(request.id),method: :delete %> <br>
<% end %> <br> <hr>

<h2> recived requests </h2>
<% @friends = Friendship.where(friend_id: current_user.id) %>
<% @friends.each do |accept| %>
	<% if accept.status == false %>
		<% user = User.find_by(id: accept.requester_id) %>
		<%= user.full_name %>
		<%= button_to "accept", friendship_path(accept.id),method: :put %>
	<% end %>
<% end %> <br>
