<h1>company details</h1>


<p style="font-size: large;"> <%= "Name : #{@company.company_name}" %> </p>
<p style="font-size: large;"> <%= "Company Type : #{@company.company_type}" %> </p>
<p style="font-size: large;"> <%= "Specialitie : #{@company.specialities}" %> </p>
<p style="font-size: large;"> <%= "Founded in : #{@company.founded_in}" %> </p>
<p style="font-size: large;"> <%= "Website : #{@company.website}" %> </p>
<p style="font-size: large;"> <%= "Address : #{@company.address}" %> </p>
<p style="font-size: large;"> <%= "Adout : #{@company.about}" %> </p>


<% @follower = CompanyFollower.all.find_by(user_id: current_user.id) %>
<% if @company.user_id == current_user.id %>
<%# byebug %>
	 <%#= button_to "Edit", [:edit, @company], method: :get %> <br>
	<p> <%= button_to "Destroy", company_path(@company),method: :delete %></p>
	
 	<% byebug %>
	<p> <%= button_to "add New", new_job_path,method: :get %></p>
<% elsif CompanyFollower.all.where(user_id: current_user.id).present? %>
	<p> <%= button_to "Unfollow", company_company_follower_path(@company.id,@follower ),method: :delete %></p>
<% else %>
	<p> <%= button_to "Follow", company_company_followers_path(@company.id),method: :post %></p>
<% end %>

<% @jobs =  @company.jobs.all %>
<% @jobs.each do |job| %>
	<%= link_to job.title,job_path(job.id) %>
<% end %>